/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* New York */

html, body {
	background: url('../img/background.jpg') repeat;
	font: 12px 'Trebushet MS', Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

.top-line { background: #070707; color: #636363; height: 28px; line-height: 28px; font-size: 11px; font-weight: bold; letter-spacing: 0.5px; border-radius: 0 0 2px 2px; }
.top-line a { color: #bbb; font-size: 11px; font-weight: bold; }
footer .top-line { background: #070707; border-radius: 5px 5px 0 0; color: #555; height: 40px; line-height: 40px; margin: 15px 0 0; }
.nav-line { height: 100px; /* background: url("../img/header_bg.png") no-repeat; */ }
address { font-style: normal; }
.phone { display: inline-block; margin-left: 30px; }
#logo a { display: block; background: url('../img/logo.png') no-repeat; width: 188px; height: 55px; text-indent: -9999px; margin: 20px 0; }

header nav { margin: 38px 0 0 10px; }
header nav ul { list-style: none; float: right; }
header nav ul li { float: left; }
header nav ul li a,
header nav ul li a:active,
header nav ul li a:disabled,
header nav ul li a:visited { font: bold 15px "PT Sans", Helvetica, Arial, sans-serif; text-transform: uppercase; 
	color: #baa07d; /*#cdcdcd;*/ 
	margin: 0 30px 0 0; text-decoration: none; letter-spacing: 1px; 
	-webkit-text-shadow: 1px 1px 3px #000;
	   -moz-text-shadow: 1px 1px 3px #000; 
			text-shadow: 1px 1px 3px #000;  
}
header nav ul li a:hover { color: #FB911B; }
header nav ul li.last a { margin-right: 0; }

.main-wrapper { background: #070707; position: relative; width: 960px; height: 407px; border-radius: 5px 5px 0 0; }
#main-slide { background: url('../img/mainslide.jpg'); width: 940px; height: 392px; position: relative; border-radius: 5px; top: 12px; left: 10px; }
.mainslide-frame { position: absolute; top: 0; left: 0; width: 940px; height: 40px; background: url('../img/mainslide_frame.png') no-repeat 0 -8px; border-radius: 5px 5px 0 0; }
.welcome { 
	position: absolute; bottom: 0; left: 0; width: 740px; height: 112px; background: url('../img/welcome.png') no-repeat;
	font: 25px 'Segoe UI', 'PT Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
	border-radius: 0 0 0 5px;
}
	.welcome .w1 { position: absolute; top: 5px; left: 10px;  color: #fbf2bf;  }
	.welcome .w2 { position: absolute; top: 5px; right: 17px; color: #fb911b; }
.proposals { background: #090909; height: 370px; margin: 0; border-radius: 0 0 5px 5px; }
.proposals .proposal { width: 300px; height: 200px; margin: 20px 0 0; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px solid #101010; }
.proposals .proposal .ptext { display: none; background: url("../img/proposal_bg.png") repeat; color: #F3E07A; font-size: 15px; left: 0; letter-spacing: 0.5px; line-height: 19px; padding: 10px; position: absolute; text-transform: uppercase; top: 20px; }
.proposals .proposal .ptext a { color: #FB911B; display: block; font-size: 11px; font-weight: bold; margin: 2px 0 0; text-decoration: none; text-transform: uppercase; }
.proposals .p1 { background: url('../img/proposal-1.png'); }
.proposals .p2 { background: url('../img/proposal-2.png'); }
.proposals .p3 { background: url('../img/proposal-3.png'); }

.mailing-list, .recomendations, .adv { 
	background: url("../img/nami.png") repeat scroll 0 0 transparent;
	border-radius: 5px 5px 5px 5px;
	height: 110px;
	margin: 20px 0 0;
}
.mailing-list h3 { color: #b1b0b0; font-size: 13px; margin: 0 0 5px; padding: 14px 12px 5px; }
.mailing-list form { margin: 0 12px 10px; }
.mailing-list form input { color: #777; font: 12px arial, sans-serif; letter-spacing: 1px; }
.mailing-list .note { color: #707070; font-size: 11px; line-height: 15px; margin: 0 0 0 12px; }
.recomendations h3, .adv h3 { color: #BAA07D; font: 24px "PT Sans","Trebuchet MS",Arial,sans-serif; margin: 0; padding: 12px 12px 8px; }
.recomendations p, .adv p { color: #B1B0B0; font-size: 13px; margin: 0 12px 12px; }

/* contacts */

.contacts-wrapper { background: url('../img/contacts_bg_.jpg') center bottom no-repeat; width: 960px; padding: 0 0 30px; position: relative; border-radius: 5px; }
.contacts-wrapper .mainslide-frame { width: 960px; background-position: -2px -10px; }
.contacts { color: #f0f0f0; }
.contacts h1 { color: #f0f0f0; font: bold 32px 'PT Sans',Helvetica,Arial,sans-serif; letter-spacing: 1px; margin: 40px 40px 40px 15px; text-transform: uppercase; }
.contacts form { display: block; margin-left: 70px; width: 340px; }
.contacts form legend { border-bottom: 1px solid #fff; color: #fff; font: 19px 'pt sans',helvetica,arial,sans-serif; letter-spacing: 0.5px; margin: 0 0 20px; }
.contacts form .control-group { margin: 0 0 10px; }
.contacts form label { color: #fff; display: block; font: italic 14px 'PT Sans',Helvetica,Arial,sans-serif; margin: 0 0 3px; }
.contacts form input,
.contacts form textarea { background: #DDDDDD; border: 1px dotted #777; color: #777; font: italic 14px georgia,serif; letter-spacing: 0.5px; padding: 7px; width: 95%; }
.contacts form button { background: url('../img/submit.png') no-repeat; width: 156px; height: 40px; text-indent: -9999px; border: medium none; }
.contacts .ya-map { border: 4px solid rgba(255, 255, 255, 0.2); width: 400px; background: rgba(255, 255, 255, 0.2); }
.contacts h2 { font: bold 21px 'PT Sans',Helvetica,Arial,sans-serif; letter-spacing: 0.5px; margin-bottom: 5px; }
.contacts p { color: #fff; font-size: 18px; font-weight: bold; margin: 0; text-shadow: 1px 1px 1px #000; }
.contacts p a { color: #fff; font-size: 18px; font-weight: bold; margin: 0; text-shadow: 1px 1px 1px #000; text-decoration: none; border-bottom: 1px solid #fff; padding-bottom: 2px; }
.contacts p.caption { margin: 9px 0 1px; color: #F7941D; font-size: 13px; }

/* euro */

.euro-wrapper { background: url('../img/euro_bg.jpg') no-repeat; width: 960px; position: relative; border-radius: 5px 5px 0 0; }
.euro { color: #f0f0f0; position: relative; }
.euro-logo { position: absolute; background: url('../img/euro_logo.png'); width: 204px; height: 229px; top: 90px; right: 30px; }
.euro-action {position: absolute; background: url('../img/euro_action.png') no-repeat; width: 300px; height: 300px; top: 5px; right: 20px;}
.euro h1 { color: #ccc; font: bold 32px 'PT Sans',Helvetica,Arial,sans-serif; letter-spacing: 1px; margin: 25px 40px 15px 15px; text-transform: uppercase; }
.euro h2 { margin: 10px 15px; }
.euro .today { color: #FB911B; font: 32px 'pt sans',helvetica,arial,sans-serif; padding: 0 0 0 5px; text-shadow: 1px 1px 1px #333; margin: -4px 0 0; }
.euro .team { font: bold 28px 'pt sans',helvetica,arial,sans-serif; letter-spacing: 1px; text-transform: uppercase; }
.euro .team .country-1,
.euro .team .country-2 { display: inline-block; width: 170px; text-align: left; font-size: 20px; }
.euro .team .country-2 { text-align: left; width: 110px; }
.euro .playtime { font: 32px Consolas, "Lucida Console", "DejaVu Sans Mono", "Courier New", Courier, monospace; letter-spacing: 1px; }
.euro .order { font: 16px 'pt sans',helvetica,arial,sans-serif; letter-spacing: 1px; margin: 15px; text-transform: uppercase; }
.euro .order strong, .euro .order strong a { color: #FB911B; font-size: 28px; padding: 0 0 0 10px; text-shadow: 1px 1px 1px #333; }
.euro .order strong a { text-decoration: none; border-bottom: 1px solid #FB911B; padding: 0 0 2px; }
.euro ul { list-style: none; }
.euro ul li { background: url("../img/star.png") no-repeat scroll 0 2px transparent; font-size: 13px; font-weight: bold; list-style: none outside none;margin: 0 !important; padding: 0 0 13px 17px; }
.euro-table { background: url("../img/euro_table.jpg"); width: 960px; height: 436px; }
.tables-schema { background: url("../img/tables_schema.jpg"); width: 960px; height: 436px; }

/* restaurant */

.restaurant-wrapper { background: url('../img/restaurant_bg_star.jpg') no-repeat; width: 960px; border-radius: 5px 5px 0 0; }
.restaurant-wrapper .description h1 { display: none; color: #ccc; font: bold 32px 'PT Sans',Helvetica,Arial,sans-serif; letter-spacing: 1px; margin: 25px 40px 15px 15px; text-transform: uppercase; }
.restaurant-wrapper .description { color: #C0C0C0; padding: 8px 20px; text-shadow: 1px 1px 1px #000000; width: 600px; height: 371px; }
.restaurant-wrapper .description p { font: 13px/19px 'PT Sans',Helvetica,Arial,sans-serif; }
.restaurant-wrapper .gallery { background: url('../img/restaurant_bg_2.jpg') no-repeat; width: 960px; height: 544px; border-radius: 0 0 5px 5px; }

.slider-wrapper { position: relative; height: 345px; border-top: 1px solid #252525; }
.slider-wrapper .prev { outline: 0 none; background: url("../img/left-arrow.png"); display: block; height: 45px; left: 12px; margin-top: -23px; position: absolute; text-indent: -9999px; top: 50%; width: 44px; }
.slider-wrapper .next { outline: 0 none; background: url("../img/right-arrow.png"); display: block; height: 45px; right: 12px; margin-top: -23px; position: absolute; text-indent: -9999px; top: 50%; width: 44px; }
.slider-wrapper .slider { height: 285px; left: 69px; overflow: hidden; position: absolute; top: 30px; width: 820px; border-radius: 5px; }
.slider-wrapper .slider img { margin-right: -3px; }
.slider-wrapper .slider .slide { float: left; }
.slider-wrapper .slider .slider-list { height: 285px; overflow-x: auto; overflow-y: hidden; position: relative; width: 2000px; }

.advantages { border-top: 1px solid #252525; height: 150px; }

.services { border-top: 1px solid #252525; }
.services ul { list-style: none; padding-left: 20px; }
.services ul li { float: left; }
.services ul li a { color: #F7941D; display: block; font-size: 12px; font-weight: bold; margin: 0 20px 0 0; text-decoration: none; }
.services ul li a:hover { text-decoration: underline; } 

/* menu */

.menu-wrapper { background: url("../img/dark_Tire.png") repeat; width: 940px; border-radius: 5px; min-height: 400px; padding: 5px 0 25px 20px; }
.menu-wrapper h1, .menu-wrapper h2 { color: #999; font: bold 29px 'pt sans',helvetica,arial,sans-serif; letter-spacing: 1px; margin: 20px 0 12px; text-transform: uppercase; }
.menu-wrapper img { border: 4px solid rgba(255, 255, 255, 0.1); border-radius: 2px; }
.menu-wrapper p { color: #999; font-size: 13px; line-height: 19px; }
.menu-wrapper .printable { color: #993; display: block; font-size: 13px; margin: 8px 0 0; }
.menu-wrapper .menu-list { border-left: 4px double #333; }
.menu-wrapper .menu-list ul { list-style: none; }
.menu-wrapper .menu-list ul li a {
	background: url("../img/menu_star.png") no-repeat scroll 0 0 transparent;
	border-top: 7px solid rgba(235, 229, 188, 0.7);
	color: #EBE5BC;
	display: block;
	font: bold 27px/74px 'pt sans',helvetica,arial,sans-serif;
	height: 74px;
	margin: 0 0 10px;
	padding: 0 0 0 74px;
	text-decoration: none;
	text-transform: uppercase;
}
.menu-wrapper .menu-header { padding-left: 40px; }
.menu-chapter table { width: 100%; }
.menu-chapter table td { color: #999; text-align: left; padding: 8px; font-size: 16px;}
.menu-chapter table td.weight { width: 10%; white-space: nowrap; }
.menu-chapter table td.caption { font-size: 14px; line-height: 19px; width: 80%; }
.menu-chapter table td.caption strong { color: #E0E0E0; display: inline-block; font: bold 18px/23px 'pt sans',helvetica,arial,sans-serif; letter-spacing: 1px; margin: 0 0 2px; text-transform: uppercase; }
.menu-chapter table td.price { width: 10%; white-space: nowrap; }


/* general */

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }


@media only screen and (min-width: 35em) {
  
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
